

<mat-tab-group>
  <mat-tab label="First">
    <pre><code [innerHTML]="highlightedJson"></code></pre>
  </mat-tab>
  <mat-tab label="Third">
    <pre><code [innerHTML]="highlightedJson"></code></pre>
    <pre>BROOOOOOOOOOOOOOOOOOOO Content 3iuwgardyfoivsyx </pre>
  </mat-tab>
  <mat-tab label="Second">
    <div>
      WHY YOU BE EMPTY
      <div echarts [options]="heatmapOptions" class="chart"></div>
      WHY
    </div>
  </mat-tab>
  <mat-tab label="Third"> BROOOOOOOOOOOOOOOOOOOO Content 3 </mat-tab>
</mat-tab-group>

thiNGY AFTER THE TABs
